.App {
  text-align: center;
}

.app_logo {
  margin-top: 20px;
}

.app_form {
  text-align: center;
  position: fixed;
  bottom: 0px;
  z-index: 1;
  background-color: #e9e9eb;
  width: 100%;
  padding: 10px;
}

.app_formControl {
  display: flex !important;
  flex-direction: row !important;
}

/* this !important is used to overwrite the material ui applied css. */

.app_input {
  flex: 1;
}

.app_iconButton {
  flex: 0;
  margin-right: 20px !important;
}

.emoji-picker-react {
  width: 100% !important;
}

.app_addCircleIcon {
  margin-bottom: -5px !important;
}

.app_EmojiEmotionIcon {
  margin-bottom: -5px !important;
}
