.message {
  padding: 10px;
  margin: 10px;
  width: fit-content;
}

.message_user {
  margin-left: auto;
  color: white;
  text-align: left !important;
}

.message_userCard {
  /* background-color: #0b81ff !important; */
  background-image: linear-gradient(
    to left,
    #f183c0,
    #de83d1,
    #c486e0,
    #a18aec,
    #748ff3
  );
}

.message_guestCard {
  background-color: #c9c9cb !important;
}
